@charset "usf-8"; 
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
h1{
  background-size: cover;
  font-weight:normal;
  font-size: 3rem;
  font-family: 'Monoton', cursive;
  margin: 20px, auto;
  text-transform: uppercase;

}

p{
  text-transform: capitalize;
  text-indent: 20px;
}

article{
  width: 100px;
  height: 100px;
  border: 1px solid red;
}

/*기존 box유지하며 가운데만*/
article:nth-of-type(1){
  padding: 30px;
  box-sizing: border-box;
  border-left: 2px dashed green
}

img{
  background-attachment: fixed;
}